<div id="title">
    <h1> {{title}} </h1>
    <h2> {{subtitle}} </h2>
    <p> {{web}} </p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nibh odio, volutpat a tempus sed, faucibus non
        eros. Fusce id dolor sed ex auctor porttitor quis sit amet magna. Donec non lorem odio. Praesent neque lacus,
        efficitur sit amet ipsum molestie, lobortis semper nisi. In blandit egestas est, ac pharetra dui convallis et.
        Cras sollicitudin id lacus id semper. Cras euismod orci eu rhoncus elementum. Ut non tincidunt orci, non congue
        enim. Fusce enim leo, tristique quis ante scelerisque, semper sagittis velit. Sed a mauris id urna luctus
        mattis. Donec faucibus dui ac velit vehicula tempor. Vivamus ut ultricies nisl. Pellentesque eu purus in dui
        malesuada posuere.
    </p>
</article>